absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1742562417367/work
astunparse @ file:///home/conda/feedstock_root/build_artifacts/astunparse_1736248061654/work
beautifulsoup4==4.13.4
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1731096409132/work
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1725267563793/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1746569525376/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1725560578465/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1746214863626/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1747811314515/work
filelock==3.18.0
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1747203985407/work
flask-cors==6.0.0
flatbuffers @ file:///home/conda/feedstock_root/build_artifacts/python-flatbuffers_1739279199749/work
gast @ file:///home/conda/feedstock_root/build_artifacts/gast_1733299680490/work
gdown==5.2.0
google-pasta @ file:///home/conda/feedstock_root/build_artifacts/google-pasta_1733852499742/work
grpcio @ file:///Users/runner/miniforge3/conda-bld/grpc-split_1740784252780/work
gunicorn @ file:///Users/runner/miniforge3/conda-bld/gunicorn_1724955954112/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
h5py @ file:///Users/runner/miniforge3/conda-bld/h5py_1739952812377/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1747915025/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1733308265247/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1741263328855/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1746352627188/work
keras @ file:///home/conda/feedstock_root/build_artifacts/keras_1747722781675/work
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1744984518836/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1733250460757/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1733219728782/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1733255585584/work
ml-dtypes @ file:///Users/runner/miniforge3/conda-bld/ml_dtypes_1725475050009/work
namex @ file:///home/conda/feedstock_root/build_artifacts/namex_1745393897776/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1747544633476/work/dist/numpy-2.2.6-cp312-cp312-macosx_11_0_arm64.whl#sha256=5634b9cb7e1849622c51a7919f4e10f2d86243ebdc74db092017d83f584b2ffe
opt_einsum @ file:///home/conda/feedstock_root/build_artifacts/opt_einsum_1733687912731/work
optree @ file:///Users/runner/miniforge3/conda-bld/optree_1744035209329/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pandas @ file:///Users/runner/miniforge3/conda-bld/pandas_1744430505682/work
protobuf @ file:///Users/runner/miniforge3/conda-bld/protobuf_1731365513768/work/bazel-bin/python/dist/protobuf-5.28.3-cp312-abi3-macosx_11_0_arm64.whl#sha256=aac4425bec324c872c01ce2fed0b88e69797312e846bdd7c171fbebcd619d858
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1736243443484/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1742920838005/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1733217035951/work
rich @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rich_1743371105/work/dist
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1736496824048/work/dist/scikit_learn-1.6.1-cp312-cp312-macosx_11_0_arm64.whl#sha256=b73b4426f1e03a197903eddede31a62b6859e1eb5d298b145d003d742720c9f7
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1739790747129/work/dist/scipy-1.15.2-cp312-cp312-macosx_11_0_arm64.whl#sha256=6377b40ec578974afe4a77d938cf02b8494de15d4ba3ab3b9cb5f71d23b06a92
setuptools==80.8.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
soupsieve==2.7
tensorboard @ file:///home/conda/feedstock_root/build_artifacts/tensorboard_1733820672324/work/tensorboard-2.18.0-py3-none-any.whl#sha256=107ca4821745f73e2aefa02c50ff70a9b694f39f790b11e6f682f7d326745eab
tensorboard_data_server @ file:///Users/runner/miniforge3/conda-bld/tensorboard-data-server_1728639727952/work/tensorboard_data_server-0.7.0-py3-none-any.whl#sha256=73ea95609b36e88bee42dddabc1609c4a10374c0021e163ff18688c3e5643d34
tensorflow @ file:///Users/isuruf/projects/tensorflow-feedstock/miniforge3/conda-bld/tensorflow-split_1739885214455/work/tensorflow_pkg/tensorflow-2.18.0-cp312-cp312-macosx_11_0_arm64.whl#sha256=c67f2f954391ee7ee1ed3280475c564d7d5d63a533dfe0e09ce98b27e50048ba
tensorflow_estimator @ file:///Users/isuruf/projects/tensorflow-feedstock/miniforge3/conda-bld/tensorflow-split_1739885214455/work/tensorflow-estimator/wheel_dir/tensorflow_estimator-2.15.0-py2.py3-none-any.whl#sha256=beb5db75d4d73b3ff014ebab3b710cc8e05e030194a13d3310df24bb80c965c9
termcolor @ file:///home/conda/feedstock_root/build_artifacts/termcolor_1746039537955/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1741878222898/work
tqdm==4.67.1
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1744302253/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1742745135198/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1744323578849/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1733160440960/work
wheel==0.45.1
wrapt @ file:///Users/runner/miniforge3/conda-bld/wrapt_1736869483984/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1732827521216/work
zstandard==0.23.0
